:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-image: url("../images/bg-intro-desktop.png"), -webkit-gradient(linear, left top, left bottom, from(#ff7a7a));
  background-image: url("../images/bg-intro-desktop.png"), linear-gradient(#ff7a7a);
}

.error {
  border: 1px solid var(--red) !important;
}

.oculto {
  display: none;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 760px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 160px;
}

.section-article {
  width: 500px;
  margin-right: 40px;
  color: #fff;
}

.section-article h1 {
  font-size: 3rem;
}

.section-article .text {
  line-height: 25px;
}

.section-form {
  width: 540px;
  margin-left: 40px;
}

.section-form .card {
  width: 100%;
  height: 61px;
  margin-bottom: 24px;
  color: #fff;
  text-align: center;
  line-height: 61px;
  border: 1px solid #834979;
  -webkit-box-shadow: 0px 7px 0px #db6768;
          box-shadow: 0px 7px 0px #db6768;
  border-radius: 10px;
  background-color: var(--blue);
}

.section-form .card span {
  font-weight: 600;
}

.section-form form {
  width: 100%;
  padding: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 7px 0px #db6768;
          box-shadow: 0px 7px 0px #db6768;
  background: #fff;
}

.section-form form .input {
  width: 100%;
  height: 56px;
  font-size: 14px;
  font-weight: 600;
  padding-left: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 23px;
}

.section-form form .input:nth-child(1) {
  margin-top: 0px;
}

.section-form form img {
  position: relative;
  top: -40px;
  left: 90%;
}

.section-form form .message {
  float: right;
  margin-top: 10px;
  color: var(--red);
  font-size: 13px;
  font-style: italic;
}

.section-form form .btn {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
  border: 1px solid #31b87d;
  border-bottom: 4px solid #31b87d;
  background-color: var(--green);
  cursor: pointer;
}

.section-form form p {
  font-size: 10px;
  text-align: center;
  color: var(--grayish-blue);
}

.section-form form p span {
  font-weight: 600;
  color: var(--red);
}

footer {
  text-align: center;
  margin: 25px 0px;
}

footer a {
  text-decoration: none;
  color: var(--blue);
}

@media (max-width: 1200px) {
  .section {
    padding: 0px 60px;
  }
}

@media (max-width: 850px) {
  img {
    left: 80%;
  }
}

@media (max-width: 800px) {
  .section {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
  }
  .section-article {
    width: 80%;
    text-align: center;
    margin-right: 0px;
    margin-top: 75px;
    margin-bottom: 60px;
  }
  .section-form {
    width: 100%;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-form .card {
    width: 80%;
    height: 85px;
    line-height: normal;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }
  .section-form form {
    width: 80%;
    padding: 40px;
  }
  footer {
    text-align: center;
    margin: 25px 50px;
  }
  footer p {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  body {
    background-image: url("../images/bg-intro-mobile.png"), -webkit-gradient(linear, left top, left bottom, from(#ff7a7a));
    background-image: url("../images/bg-intro-mobile.png"), linear-gradient(#ff7a7a);
  }
  .section {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
  }
  .section-article {
    width: 80%;
    text-align: center;
    margin-right: 0px;
    margin-top: 75px;
    margin-bottom: 60px;
  }
  .section-article h1 {
    font-size: 1.8rem;
  }
  .section-form {
    width: 100%;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-form .card {
    width: 80%;
    height: 85px;
    line-height: normal;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
  }
  .section-form form {
    width: 80%;
    padding: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */